body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Roboto Light", "Segoe UI Web Light", "Segoe UI Light", "Segoe UI Web Regular", "Segoe UI", Helvetica, Arial, sans-serif; 
  margin: 0;
  color: dimgray;
}
#chart{
	width: 70vw;
	margin-left: 15vw;
	text-align: center;
	margin-top: 30px;
}

.chart-container{
	width: 80vw;
	margin-left: 10vw;
	position: relative;
}

.grades{
	position: absolute;
}
.grade{
	margin-left: 10vw;
	padding: 5vw;
}

h1 {
  font-weight: normal;
  font-size: 2.4em;
  text-align: center;
}
.leyend{
	width: 80vw;
	margin-left: 10vw;
	text-align: center;
}
.leyend-elements{
	display: inline-flex;
	margin-top: 10px;
}

.leyend-circle{
	width: 20px;
	height: 20px;
	border-radius: 10px;
	border: solid 0.5px dimgray;
	margin-left:10px;
	opacity: 0.6;
}

.asian{
	background: #36173A;
}

.black{
	background: #00635D;
}

.hispanic{
	background: #E3D26F;
}

.other{
	background: #BB6B00;
}

.white{
	background: #7B0828;
}

.leyend-elements span{
	font-family: "HelveticaNeue-Light";
	padding-left:10px;
	padding-right:10px;
	text-align: center;
}

.text-fill{
	fill: transparent;
	cursor: pointer;
	
}
.selected{
	fill: dimgray;
	cursor: pointer;

}
.noline{
	stroke: solid transparent;


}
.noline.yesline{
	stroke: solid red;


}

.link {
  stroke: #999;
  stroke-opacity: 0.6;
  stroke-width: 1.5px;
}

.node{
  stroke: #fff;
  stroke-width: 1.5px;
}


.line-2-cirkel {
  stroke: #5ca9da;
}


